
body{
  background: url(p4.jpg);
  
}
#container{
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(80, 13, 44);
    text-align: center;
    font-size: 45px;
}
form{
  font-size: 30px;
}

#totaltip{
  font-size: 30px;
}
p{
  font-size: 30px;
}



